footer {
 display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  min-height: 50px;
  margin: auto;
  padding: 15px 0;
}

.text {
 padding: 10px;
 margin-left: 10px;
}

.social {
 display: flex;
 gap: 20px;
 color: black;
 color: $blue;
 font-size: 1.5em;
}

@media (max-width: 768px) {
 footer {
  height: auto;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: 15px;

  .social {
   flex-direction: column;
  }
 }
}