$color_1: white;
$background-color_1: #f8f9fa;
$blue: #007bff;
$color_2: #8d9993;
$black: #000000;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

 @import 'reset';
 @import 'nav';
 @import 'header';
 @import 'main';
 @import 'Rewiews';
 @import 'header';
 @import 'footer';